<section class="bg-gray-100 py-12">

  <div class="flex items-center">

    <div>

      <p>
        Hi, my name is <strong>Satish Chilkaka</strong>, and I am a <strong>Quality Assurance Engineer</strong>.
        I specialize in developing robust and efficient automated tests using modern testing frameworks, implementing new processes,
        and proactively identifying the root cause of complex issues to streamline troubleshooting. Additionally,
        I excel in coordinating with multiple teams to ensure effective collaboration and alignment throughout the quality assurance process.
      </p>
    </div>

  </div>


  </section>
<section class="about-me">
  <div class="mr-4">
    <img src="../../../assets/images/my-image.png" alt="Profile Picture" class="rounded-full h-46 w-46 mt-2">
    <div class="ml-4 flex">
      <a class="btn btn-primary smooth-scroll mr-2" href="#know-more" data-aos="zoom-in"
        data-aos-anchor="data-aos-anchor">Know More</a>
      <a class="btn btn-primary smooth-scroll" href="#Contact Me" data-aos="zoom-in"
        data-aos-anchor="data-aos-anchor">Contact Me</a>
        <p>
          Quality Assurance Engineer, Cypress & Plywright
          Focus on developing and executing automation scripts with Cypress End-to-End Testing Framework
        </p>
    </div>
  </div>

</section>
