<section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <h5 class="text-3xl mb-6">Hi, my name is <strong>Satish Chilkaka</strong>, and I am a <strong>Quality Assurance Engineer</strong></h5>
      <p class="text-gray-800 mb-6">I specialize in developing robust and efficient automated tests using modern testing frameworks, implementing new processes, and proactively identifying the root cause of complex issues to streamline troubleshooting. Additionally, I excel in coordinating with multiple teams to ensure effective collaboration and alignment throughout the quality assurance process.</p>


    </div>
    <figure class="cc-effect">
        <img src="../../../assets/images/my-image.png" alt="Image" />

      </figure>
  </section>
  