<section class="bg-gray-100 py-12">

  <div class="flex items-center">
    <div class="mr-4">
      <img src="../../../assets/images/my-image.png" alt="Profile Picture" class="rounded-full h-46 w-46 mt-2">
    </div>
    <div>

      <p>
        Hi, my name is <strong>Satish Chilkaka</strong>, and I am a <strong>Quality Assurance Engineer</strong>.
        I specialize in developing robust and efficient automated tests using modern testing frameworks, implementing new processes,
        and proactively identifying the root cause of complex issues to streamline troubleshooting. Additionally,
        I excel in coordinating with multiple teams to ensure effective collaboration and alignment throughout the quality assurance process.
      </p>
    </div>

  </div>
  <div class="ml-4 flex flex-col">
    <a href="know-more.html" class="text-blue-500 font-semibold hover:underline mt-2">Know more</a>
    <a href="contact.html" class="text-blue-500 font-semibold hover:underline mt-2">Contact me</a>
  </div>

  </section>


  <section id="know-more">
    <!-- Content for the "Know more" section -->
  </section>

  <section id="contact">
    <!-- Content for the "Contact me" section -->
  </section>
